<html>
<head>
</head>
<body>
    <form action="/files/home/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name = "file">        
        <input type="submit" value="submit">
    </form>
    <img src="{{STATIC_URL}}img/headimg/liuyan.jpg"/>
    <a href="/files/pdf" target="view_window">hello world</a>
    <a href="/files/csv" target="view_window">CSV</a>
    <br/>
    {% for c in car_content %}
        <img src="{{c.c_url}}"/>
        <br/>
        {{c.c_name}}
        <br/>
    {% endfor %}
</body>
</html>